<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Coursomania</strong></p>
      <p>
        <a :href="item" v-for="(item, key) in socialMediaLinks" :key="key">
          {{ key }}
        </a>
      </p>
      <p>
        Республика Казахстан, <br />
        г.Алматы, мкрн. Керемет, дом 7, корпус 43 <br />
        <a
          href="tel:+77470942338"
          v-html="'+7&nbsp;747&nbsp;094&nbsp;2338'"
        ></a>
        <br />
        <a
          href="tel:+79585812880"
          v-html="'+7&nbsp;958&nbsp;581&nbsp;2880'"
        ></a>
        <br />
        <a
          href="tel:+77755158309"
          v-html="'+7&nbsp;775&nbsp;515&nbsp;8309'"
        ></a>
      </p>
      <p>Automaton© 2019 Все права защищены.</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "BlockFooter",

  data() {
    return {
      socialMediaLinks: {
        instagram: "https://instagram.com/automaton.bz/",
        youtube: "https://www.youtube.com/automaton/"
      }
    };
  }
};
</script>

<style lang="scss">
@import "@/assets/variables.scss";

.footer {
  z-index: 41;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: $sidebar-hover;
  color: #fff;
}
</style>
